body {
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li 
{
    background-color: bisque;
}

h1{
    font-size: 72px;
    color:darkslategray
}

h2{
    font-size: medium;
    color: crimson;
}

footer {
    background-color: aliceblue;
    font-weight: bold;
}